SECRET_KEY=django-insecure-change-this
DEBUG=True
ALLOW_ALL_HOSTS=False
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
TIME_ZONE=UTC
SITE_ID=1
LOGIN_REDIRECT_URL=/
LOGOUT_REDIRECT_URL=/
DATABASE_URL=
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

POSTGRES_DB=mahil_techlab
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
POS_INSTALLER_PATH=C:/Users/YourUser/Documents/GitHub/mahilmart-pos/installer/output/MahilMartPOS-Setup.exe
POS_INSTALLER_URL=
POS_INSTALLER_FILENAME=MahilMartPOS-Setup.exe
